<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show My Friends</title>
    <link rel="stylesheet" href="../static/css/jHome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class='column center outer'>
        <h2>Hello, <span class='user_name'>Blank</span>. </h2>

        <h4>Here are your friends!</h4>

        <ul class='friendsList'></ul>
    
        <button class='loadFriends'>Load Friends</button>

        <button class='newFriend'>Add Friend</button>

        <div class='form column center'>
            <h3>Add Friend</h3>
            <input type="text" id="name" placeholder="Name">
            <input type="text" id="age"  placeholder="Age">
            <input type="text" id="email"  placeholder="Email">
            <button class="submitBtn">Submit</button>
        </div>
    </div>

</body>
<script src="../static/js/jHome.js"></script>
</html>